DB_USER=mky_user
DB_PASSWORD=mky_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mky_db
DATABASE_URL=postgresql+psycopg2://mky_user:mky_password@localhost:5432/mky_db

SECRET_KEY=change-this-secret-in-dev
PD_ENCRYPTION_KEY=change-this-key-in-dev
RATE_LIMIT_ENABLED=true
ENABLE_DEV_TEST_USERS=true

ADMIN_EMAIL=admin@example.local
ADMIN_PASSWORD=change-me
ADMIN_ROLE=admin
GIGACHAT_CREDENTIALS=MDFhMGUzMDktZjFiOS03ZDc2LWIzOTgtN2UwMzQzOGIxYjBkOjNkMzY4ZDZkLWViODMtNDRjMS1hMzNhLWJjYjIzNWU0ODJlZA==
